@section Scripts {
    <script src="~/client/main.js"></script>
    <script src="~/client/polyfills.js"></script>
    <script src="~/client/runtime.js"></script>
}

<app-root></app-root>


@*<div class="my-5">
    <h3 class="mb-4">
        Buscar productos
    </h3>
    <input id="txtCamisetaNombre" type="text" />
    <button id="searchbutton" class="btn btn-secondary" onclick="">Buscar</button>
</div>

*@
