@model Contacto
<div class="my-5 text-center">
    <h2>@ViewBag.ContactoCompletedMessage</h2>
</div>
<div class="text-center my-2">
    <a class="text-muted text-center" asp-controller="home" asp-action="index">
        Volver a la página de Inicio.
    </a>
</div>

