@model Contacto
<div class="my-5">
    <h1>Contacta con nosotros</h1>
    <p class="text-muted">
        Envíanos alguna sugerencia, queja, solicitud o errores de nuestros servicios.
    </p>
    <p class="text-muted">
        Los clientes son nuestra prioridad.
    </p>
</div>

<div>

<form asp-action="Contacto" method="post" role="form">

    <div class="col-6">
        <div class="row g-2">
            <div class="col-6">
                <label asp-for="Nombre" class="form-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="Apellido" class="form-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-10">
                <label asp-for="TextArea" class="form-label">Mensaje:</label>
                <textarea asp-for="TextArea" class="form-control" rows="5"></textarea>
                <span asp-validation-for="TextArea" class="text-danger"></span>
            </div>
        </div>

        <div class="mt-2">
            <div class="col my-5">
                <input type="submit" class="btn btn-secondary" value="Enviar" />
            </div>
        </div>

</form>

</div>